/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2016, 10:53:32 AM
    Author     : johnpquan
*/


html,
body {
    height:100%;
    min-height: 100%;
    margin:0;
    padding:0;
    color:#000;
    background:#fff;
}
.colorwhite {
    color: whitesmoke;
}

.group-projects-wrapper {
    display: table;
    width: 100%;
}
.column-parent {
    display: table-row;
    list-style: none;
}
.column-child {
    display: table-cell;
    height: 100%;
    width: calc(100% / 3);
    padding: 10px;
}
#group-projects-body {
    height:100%;
    min-height: 80%;
    width:100%;
    margin:0 auto;
    background:#ddd;
}
#group-projects-header {
    height: 35em;
    padding:2em;
    background-image:url('../img/rainbow.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border:1px solid black;
}
#group-projects-main {
    min-width: 1040px;
    min-height: 400px;
}
#group-projects-col-1 {
    background:#bfb;
}
#group-projects-col-2 {
    background:#dff;
}
#group-projects-col-3 {
    background:#aae0f8;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#group-projects-footer {
    padding:10px;
    background:#fbb450;
    text-align: left;
}
@media print {
    body:before {
        border: none !important;
        content: url('../img/rainbow.jpg');
        position: absolute;
        z-index: -1;
    }
    .colorwhite {
        color: whitesmoke !important;
    }
}