/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2016, 10:53:32 AM
    Author     : johnpquan
*/


/*html,
body {
    height:100%;
    margin:0;
    padding:0;
    color:#000;
    background:#fff;
}*/
#body_hfw {
    height:100%;
    width:100%;
    margin:0 auto;
    background:#ddd;
    min-width: 1040px;
    min-height: 1000px;
}
#header_hfw {
    padding:10px;
    background:#ee5f5b;
}
#main_hfw {
    min-width: 1040px;
    min-height: 400px;
}
#content_1_hfw {
    float:left;
    height: 100vh;
    padding: 10px;
    min-width: max-content;
    width:24.5%;
    background:#bfb;
}
#content_2_hfw {    
    float:right;
    height:100vh;
    width:75%;
}
#content_2_1_hfw {    
    height:100%;
    float:left;
    padding: 10px;
    width:50%;
    padding:10px;
    background:#dff;
}
#content_2_2_hfw {    
    height:100%;
    float:right;
    width:50%;
    min-width: 386px;
    padding:10px;
    background:#aae0f8;
}
#footer_hfw {
    clear:both;
    padding:30px;
    background:#fbb450;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
@media print {
    #body_hfw {
        background: #fff;
    }

}