/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2016, 10:53:32 AM
    Author     : johnpquan
*/


html,
body {
    height:100%;
    min-height: 100%;
    margin:0;
    padding:0;
    color:#000;
    background:#fff;
}
#body_hfw {
    height:100%;
    min-height: 100%;
    width:100%;
    margin:0 auto;
    background:#ddd;
}
#header_hfw {
    height: 35em;
    padding:2em;
    background: #fbb450;
}
.bgimg_hfw {
    background: url('img/rainbow.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*background-size: cover;
    background: bisque;
    background-repeat: no-repeat;
    height: 20em;*/
}
#nav_hfw {
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
}
#nav_hfw ul {
	list-style: none;
	width: 800px;
	margin: 0 auto;
	padding: 0;
}
#nav_hfw li {
	float: left;
}
#nav_hfw li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc;
}
#nav_hfw li:first-child a {
	border-left: 1px solid #ccc;
}
#nav_hfw li a:hover {
	color: #c00;
	background-color: #fff;
}

#main_hfw {
    min-width: 1040px;
    min-height: 400px;
    height: 100%;
}
#content_1_hfw {
    height:100%;
    min-height: 100%;
    float:left;
    height: 80vh;
    padding: 10px;
    min-width: max-content;
    width:24.5%;
    background:#bfb;
}
#content_2_hfw {    
    float:right;
    height:80vh;
    width:75%;
}
#content_2_1_hfw {    
    height:100%;
    min-height: 100%;
    float:left;
    padding: 10px;
    width:50%;
    padding:10px;
    background:#dff;
}
#content_2_2_hfw {    
    height:100%;
    min-height: 100%;
    float:right;
    width:50%;
    min-width: 386px;
    padding:10px;
    background:#aae0f8;
}
#footer_hfw {
    clear:both;
    padding:30px;
    background:#fbb450;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
@media print {
    #body_hfw {
        background: #fff;
    }

}