h1 {
    margin-top: 50px !important;
}

body {
    background-color: white;
}

.nav-item {
    cursor: pointer;
}

.nav-div {
    background-color: white;
}

.image-box-right {
  display: block;
  float: right;
  padding: 0px 0px 5px 10px;
  margin: 0px 0px 5px 20px;
}

.image-box-left {
  display: block;
  float: left;
  padding: 0px 10px 5px 0px;
  margin: 0px 20px 5px 0px;
}

.step-block {
   overflow: auto;
}

.logo {
  font-family: "andale mono",	/* MS WebFont */ "monotype.com",	/* MS WebFont, former name */ monaco,	/* MacOS */ /* Fallback options */ "courier new",	/* Windows, MacOS */ courier,	/* Unix+X, MacOS */ monospace;
  font-weight: bold;
  padding: 6px 10px 6px 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  font-size: 25pt;
}

*:focus {
    outline: none;
}
